@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
.t-1 {
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
}

.section-title {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .section-title {
    font-size: 33px;
  }
}

@media screen and (min-width: 1600px) {
  .section-title {
    font-size: 36px;
  }
}

body {
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin: 0;
  position: relative;
}

h1, h2, h3, ul, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: .1s all ease-in-out;
  -o-transition: .1s all ease-in-out;
  transition: .1s all ease-in-out;
}

@media screen and (max-width: 1100px) {
  .container {
    padding: 0 10px;
  }
}

.header {
  position: relative;
  z-index: 2;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

.header .container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background-color: #999999;
  text-decoration: none;
  padding: 10px 30px;
}

.header .container .burger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8px;
  width: 50px;
  height: 50px;
  outline: 0;
  border: 0;
  background-color: #FF8744;
  cursor: pointer;
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  background-image: url("../img/banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  position: absolute;
  top: 0;
  width: 100%;
}

.welcome__overlay {
  position: absolute;
  background-color: #404149;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .9;
  z-index: 1;
}

.welcome .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome__title, .welcome__subtitle {
  position: relative;
  z-index: 2;
  text-align: center;
}

.welcome__title {
  font-size: 3em;
  font-weight: 500;
}

@media screen and (min-width: 1600px) {
  .welcome__title {
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin: 0 186px;
  }
}

.welcome__subtitle {
  margin-top: 35px;
  font-weight: 300;
  text-transform: uppercase;
}

@media screen and (min-width: 1600px) {
  .welcome__subtitle {
    font-size: 18px;
  }
}

.numbers {
  position: relative;
  z-index: 2;
  -webkit-transform: translateY(-200px);
      -ms-transform: translateY(-200px);
          transform: translateY(-200px);
  margin-top: 85vh;
}

@media screen and (min-width: 1600px) {
  .numbers {
    -webkit-transform: translateY(-260px);
        -ms-transform: translateY(-260px);
            transform: translateY(-260px);
  }
}

.numbers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  padding: 50px 0;
}

@media screen and (min-width: 1600px) {
  .numbers .container {
    padding: 50px 250px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.numbers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.numbers__number {
  color: #FF8744;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 62px;
  margin-top: 20px;
}

@media screen and (min-width: 1600px) {
  .numbers__number {
    font-size: 72px;
    margin: 0;
  }
}

.numbers__heading {
  font-weight: 500;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: #404149;
}

@media screen and (min-width: 1600px) {
  .numbers__heading {
    font-size: 36px;
  }
}

.numbers__subheading {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: #999999;
}

.projects {
  margin-top: -50px;
}

.projects__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media screen and (min-width: 768px) {
  .projects__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .projects__grid :last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
}

@media screen and (min-width: 1600px) {
  .projects__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  .projects__grid :last-child {
    grid-column: unset;
  }
}

.projects__item {
  height: 380px;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  cursor: default;
}

@media screen and (min-width: 768px) {
  .projects__item {
    min-width: 350px;
  }
}

.projects__item:hover > .projects__overlay {
  bottom: 0;
}

.projects__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative;
  bottom: -400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 17px;
  width: 100%;
  height: 100%;
  background: rgba(255, 135, 68, 0.8);
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, rgba(255, 135, 68, 0.9)), to(rgba(255, 0, 0, 0)));
  background: -webkit-linear-gradient(bottom, rgba(255, 135, 68, 0.9) 50%, rgba(255, 0, 0, 0) 100%);
  background: -o-linear-gradient(bottom, rgba(255, 135, 68, 0.9) 50%, rgba(255, 0, 0, 0) 100%);
  background: linear-gradient(0deg, rgba(255, 135, 68, 0.9) 50%, rgba(255, 0, 0, 0) 100%);
  color: #FFFFFF;
  -webkit-transition: bottom .2s ease-in-out;
  -o-transition: bottom .2s ease-in-out;
  transition: bottom .2s ease-in-out;
}

.projects__name {
  font-size: 24px;
}

.projects__description {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
}

.request {
  background-color: #FF8744;
  color: #FFFFFF;
  padding: 30px 0;
}

.request.--first-request {
  margin: 224px 0 150px 0;
}

.request .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .request .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1100px) {
  .request .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px;
  }
}

.request__text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.02em;
}

.request__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.02em;
  margin-top: 10px;
}

.request__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.05em;
  padding: 12px 25px;
  margin-top: 20px;
  outline: 0;
  border: 0;
  background-color: #FFFFFF;
  cursor: pointer;
}

.request__btn svg {
  margin-right: 15px;
}

.request__btn:hover {
  background-color: #e6e6e6;
}

.request__btn:focus {
  outline: 1px solid #404149;
}

.services {
  margin: 150px 0;
}

.services__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media screen and (min-width: 768px) {
  .services__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .services__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.services__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  padding: 60px 80px;
}

@media screen and (max-width: 768px) {
  .services__item {
    padding: 60px 0px;
  }
}

.services__item svg {
  margin-bottom: 30px;
}

.services__title {
  font-weight: 500;
  font-size: 21px;
  line-height: 31px;
  text-align: center;
  letter-spacing: 0.02em;
}

.portfolio__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media screen and (max-width: 1100px) {
  .portfolio__grid {
    padding: 0px 20px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio__grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__grid {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .portfolio__grid {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.portfolio__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  height: 410px;
}

.question {
  margin: 150px 0;
}

.question__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #FF8744;
}

.question__title svg {
  margin-right: 13px;
}

@media screen and (min-width: 768px) {
  .question__title {
    font-size: 23px;
  }
}

.question__text {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  color: #999999;
  font-size: 16px;
  line-height: 22px;
  margin: 30px 0 40px 0;
}

.partners {
  padding: 100px 0;
  background-color: #404149;
}

.partners .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__title {
  color: #FFFFFF;
}

.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners__item:not(:first-child):not(:last-child) {
  margin: 20px 0;
}

@media screen and (min-width: 800px) {
  .partners__item:not(:first-child):not(:last-child) {
    margin: 0px 30px;
  }
}

.partners__image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.reviews {
  margin: 150px 0px;
}

.reviews__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media screen and (min-width: 1600px) {
  .reviews__list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 30px;
            column-gap: 30px;
  }
}

.reviews__quote {
  background-color: #F7F7F7;
  color: #999999;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding: 38px 30px;
  margin-bottom: 10px;
}

@media screen and (min-width: 1600px) {
  .reviews__quote {
    margin-bottom: 30px;
  }
}

.reviews__quote svg {
  width: 30px;
  height: 30px;
  margin-bottom: 18px;
}

.reviews__quote svg * {
  fill: #FF8744;
}

.reviews__author {
  display: inline-block;
  font-weight: bold;
  font-size: 17px;
  line-height: 31px;
  letter-spacing: 0.02em;
  margin-bottom: 30px;
}

.reviews__author--company {
  color: #FF8744;
}

.contacts {
  margin: 100px 0 150px 0;
}

.contacts__list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 30px;
}

@media screen and (min-width: 768px) {
  .contacts__list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .contacts__list {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-weight: 500;
  font-size: 21px;
}

@media screen and (max-width: 768px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 40px;
  }
}

.contacts__item svg {
  display: block;
  margin: 0 auto 20px auto;
  width: 40px;
  height: 40px;
}

.contacts__item a {
  text-decoration: none;
  color: currentColor;
  -webkit-transition: all .1s ease-in-out;
  -o-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

.contacts__item a:hover {
  text-decoration: underline;
}

.contacts__title {
  color: #999999;
}

.contacts .--contacts-email {
  color: #FF8744;
  text-decoration: underline;
}

.footer {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #404149;
  color: #FFFFFF;
  font-size: 16px;
  padding: 10px 0;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 20px 0;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer a {
  color: #FFFFFF;
}

.footer__studio {
  font-size: 13px;
}

.up-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  outline: 0;
  border: 0;
  background-color: #FF8744;
  position: fixed;
  right: 20px;
  bottom: 40px;
  z-index: 99;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
  transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
}

.up-button path {
  fill: #FFFFFF;
}

@media screen and (max-width: 768px) {
  .up-button {
    width: 40px;
    height: 40px;
    bottom: 20px;
  }
}

.up-button.show {
  opacity: 1;
  visibility: visible;
}

.popup-overlay {
  display: none;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.popup-overlay .popup {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popup-overlay .popup-close {
  position: absolute;
  top: 7px;
  right: 7px;
  cursor: pointer;
  padding: 20px 10px;
}

.popup-overlay .popup-close:before {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background-color: #404149;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.popup-overlay .popup-close:after {
  content: '';
  display: block;
  height: 1px;
  width: 20px;
  background-color: #404149;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #F7F7F7;
  border-radius: 10px;
  -webkit-box-shadow: #404149 0px 8px 20px 0px;
          box-shadow: #404149 0px 8px 20px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60vh;
  width: 95vw;
  z-index: 101;
  padding: 20px;
}

@media screen and (min-width: 1600px) {
  .popup-form {
    width: 30vw;
  }
}

.popup-form input {
  height: 40px;
  width: 100%;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  padding-left: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: 0;
  border: 0;
  border-bottom: 2px solid #FF8744;
  background-color: #F7F7F7;
}

.popup-form textarea {
  width: 100%;
  resize: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  outline: 0;
  border: 0;
  background-color: #F7F7F7;
  padding: 10px 0 0 10px;
  border: 2px solid #FF8744;
}

.popup-form button {
  outline: 0;
  border: 0;
  font-family: "Oswald", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 20px;
  padding: 6px 20px;
  cursor: pointer;
  background-color: #FF8744;
  border-radius: 3px;
}

.popup-form button:hover {
  background-color: #ff6611;
}
